<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565106049736-0lnspj1v8hoeqdlcmuegllfvoncvolul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565106049736-0lnspj1v8hoeqdlcmuegllfvoncvolul</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>565106049736-jbl02anvtvqtuuvm7u07ddfgsvlmsseq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBc0UdK9ABIMYr1rnHDktjGaeCB9rXy6f0</string>
	<key>GCM_SENDER_ID</key>
	<string>565106049736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kvell.Kvellios</string>
	<key>PROJECT_ID</key>
	<string>kvellapp-ba6c8</string>
	<key>STORAGE_BUCKET</key>
	<string>kvellapp-ba6c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565106049736:ios:4f23e7c34883352f5a1bfd</string>
	<key>DATABASE_URL</key>
	<string>https://kvellapp-ba6c8.firebaseio.com</string>
</dict>
</plist>